.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.signup-cont {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.signup-form {
  width: 100%;
}

.heading {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  padding-left: 4px;
  font: bold;
}

input.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.myform {
  margin-top: 15px;
}


@media (min-width: 768px) {
  .signup-cont {
      max-width: 500px;
      padding: 30px;
  }

}

@media (min-width: 1024px) {
  .signup-container {
      padding: 40px;
  }

  .signup-cont {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .signup-form {
      padding: 20px;
  }

}

@media (min-width: 1440px) {
  .signup-cont {
      max-width: 600px;
  }
  .signup-form {
    padding: 40px;
 }

  .heading {
      font-size: 30px;
      font-weight: 600;
      color: #a81f00;
  }

  button.btn {
      color: white;
      background-color:  #a81f00ce;
      border: none;
      outline: none;
  }
  button.btn:hover{
    background-color:  #a81f00;
    color: white;
  }

}