.home-cont {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.myhome {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/myhomeimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  box-sizing: border-box;
  background-position: center;
}
.left{
  width: 55%;
}

.right {
  border-radius: 10px;
  width: 45%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.logbtn{
height: 10%;
display: flex;
justify-content: right;
}
.info{
   width: 90%;
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   padding: 5%;
}
.head {
  font-weight: 500;
  font-size: 40px;
}

.todo {
  color: red;
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-family: Lucida Sans;
}

.para{
  margin-top: 15px;
}
.mybtn {
  width: 50%;
  max-width: 600px;
  background-color: rgba(248, 83, 24, 0.825);
  padding: 10px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mybtn:hover {
  background-color: rgb(253, 73, 8);
}

.logbtn {
  margin-top: 20px;
}

.mylogoutbtn {
  padding: 2%;
  background-color:red;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px){
  .left{
    display: none;
  }
  .right{
    width: 100%;
  }
  .info{
    background: transparent;
    background-color: rgba(255, 255, 255, 0.855);
    padding: 5%;
    margin: 7%;
    border-radius: 15px;
    height: 90%;
  }
  .logbtn{
    height: 10%;
  }
}
@media (max-width: 1024px){
  .info{
    padding: 10%;
    height: 95%;
  }
  .logbtn{
    height: 5%;
  }
}
@media (max-width: 1024px) and (max-height: 1180px){
  .left{
  display: none;
}
.right{
  width: 100%;
}
.info{
  background: transparent;
  background-color: rgba(255, 255, 255, 0.855);
  padding: 5%;
  margin: 12% 7%;
  border-radius: 15px;
  height: 95%;
}
.logbtn{
  height: 5%;
}
}