.home-cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.myhome {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/myhomeimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
}
.left{
  width: 55%;
}

.right {
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  align-self: center;
}

.info{
   width: 90%;
}
.head {
  font-weight: 500;
  font-size: 40px;
}

.todo {
  color: red;
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-family: Lucida Sans;
}

.para{
  margin-top: 15px;
}
.mybtn {
  width: 50%;
  max-width: 600px;
  background-color: rgba(248, 83, 24, 0.825);
  height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mybtn:hover {
  background-color: rgb(253, 73, 8);
}

.logbtn {
  margin-top: 20px;
}

.mylogoutbtn {
  width: 44%;
  max-width: 600px;
  background-color:red;
  height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .home-cont{
  display: flex;
  box-sizing: border-box;
  background-position: center;
}

.left{
  width: 55%;
}

.right {
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  align-self: center;
  background-color: transparent;
  margin-left: 20px;

}
.para{
  padding-top: 10px;
}

}

@media (max-width: 768px) {
  
  .left{
    display: none;
  }
  .right{
    background-color: rgba(255, 255, 255, 0.855);
    width: 90%;
    height: 80%;
    padding-left: 40px;
  }
  .info{
    margin-top: 40px;
  }
  .head{
    font-size: 42px;
  }
  .para{
    font-size: 16px;
  }
  .todo{
    font-size: 42px;
  }
  h4{
    font-size: 22px;
  }
  .mybtn {
    width: 50%;
    height: 38px;
    font-size: 12px;
  }
  .mylogoutbtn{
    width: 45%;
    height: 37px;
    font-size: 13px;
  }
}


@media (max-width: 375px) {
  
  .left{
    display: none;
  }
  .right{
    background-color: rgba(255, 255, 255, 0.855);
    width: 90%;
    height: 80%;
  }
  .head{
    font-size: 20px;
  }
  .para{
    font-size: 10px;
  }
  .todo{
    font-size: 20px;
  }
  h4{
    font-size: 15px;
    margin-top: 20px;
  }
  .mybtn {
    width: 50%;
    height: 38px;
    font-size: 12px;
  }
  .mylogoutbtn{
    width: 45%;
    height: 37px;
    font-size: 13px;
  }

}